<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Librair</title>
</head>

<body>
    Before
    <br>
    
    <%- body %>     
<!--this tag above links to the content of our index.ejs file -->
    
    <br>
    After
    
</body>

</html>